body,html{
    height: 100%;
    margin: 0;
    font-family: 'Advent Pro', sans-serif;
    font-family: 'Cairo', sans-serif;
    font-family: 'Ibarra Real Nova', serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Roboto Mono', monospace;
    background-color: lightblue;
}
body{
   
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 17em auto 50px;
    height: 100%;
    width: 100%;
}

.container{
 
}
.sidebar{
    background-color: #0096FF;
    grid-row-start: 1;
    grid-row-end: 3;
    
}
.sidebarcontainer{
    position: sticky;
    
}
.header{
    background-color: white;
    box-shadow: 2px 2px 4px #000000;
}

.content{
   
    display: grid;
    
    width: 100%;
}
img:hover{
cursor: pointer;
}
.copyrights{
    align-items: center;
    justify-content: center;
    display: flex;
    
    position: relative;
    color: #BCC7CD;
 
    
}
.copyrights > div {
    
    margin: 5px;
    font-size: 15px;
    
}
.githubicon {
    transition: transform .25s; /* Animation */
    margin: 0 auto;
  }
  
  .githubicon:hover {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }
footer{
    grid-column-start: 1;
    grid-column-end:3;
    background-color: #1C4D90;
}
